body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.border-left-orange {
    border-left: .25rem solid #f39724 !important;
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15) !important;
}

.text-gray-800 {
    color: #5a5c69 !important;
}

.text-gray-300 {
    color: #dddfeb !important;
}

.container-navbar {
    border-bottom: 1px solid #f39724;
}

.date {
    position: fixed !important;
    color: black;
    padding: 10px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(0, 0, 0, 0.25) !important;
    background: #f39724;
    bottom: 100px;
    transition: ease-in-out 0.5s;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

    .date:hover {
        background: #f28822;
        padding-left: 40px;
        box-shadow: 0 .15rem 1.75rem 0 rgba(0, 0, 0, 0.5) !important;
        transform: scale(1.05);
        transition: ease-in-out 0.5s;
    }

    .date > .img-thumbnail {
        padding: 7px;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 0.25rem;
        max-width: 100%;
        height: auto;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
    }

.sa-card {
    height: fit-content;
}

#map {
    height: 380px;
    width: auto;
}

#map div{
    cursor: default !important;
}